# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

Imports and set magics:

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
#from matplotlib_venn import venn2

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

from io import StringIO

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [48]:
import inflect

ModuleNotFoundError: No module named 'inflect'

# Code struture

1) Load data sets
2) Clean data sets
3) Merge data sets
4) Make plots

1) Load datasets

In [41]:
df = pd.read_excel('july2022(1).xlsx') # load dataset
df_s = df.sort_values(['supplierName','id','productType','indication']) # sort 
df_s.reset_index(inplace = True, drop = True) # Drop old index 
df_s.head()

,systemValidFrom,systemValidTo,id,name,description,supplierName,productType,private1,business,billingType,...,amountHoursFifteen,amountHoursSixteen,amountHoursSeventeen,amountHoursEightteen,amountHoursNineteen,amountHoursTwenty,amountHoursTwentyOne,amountHoursTwentyTwo,amountHoursTwentyThree,amountHoursTwentyFour
0,2016-04-18 10:57:38,NaT,5351,FastPris 12 måneder,"Det giver økonomisk tryghed i hverdagen, når d...",Energinord A/S,Fast,True,False,fix,...,21.36,21.36,21.36,21.36,21.36,21.36,21.36,21.36,21.36,21.36
1,2017-07-13 06:36:08,NaT,5213,BasisEnergi GlobalEnergi,"BasisEnergi er en nem og fleksibel løsning, og...",SEAS-NVE Strømmen A/S,Fast,True,True,fix,...,41.16,41.16,41.16,41.16,41.16,41.16,41.16,41.16,41.16,41.16
2,2016-04-18 10:57:38,NaT,5351,FastPris 12 måneder,"Det giver økonomisk tryghed i hverdagen, når d...",Energinord A/S,Fast,True,False,fix,...,21.36,21.36,21.36,21.36,21.36,21.36,21.36,21.36,21.36,21.36
3,2017-07-13 06:36:08,NaT,5213,BasisEnergi GlobalEnergi,"BasisEnergi er en nem og fleksibel løsning, og...",SEAS-NVE Strømmen A/S,Fast,True,True,fix,...,41.16,41.16,41.16,41.16,41.16,41.16,41.16,41.16,41.16,41.16
4,2022-07-01 08:14:43,2022-08-01 08:52:28,6400,Grøn strøm til indkøbspris,Hos Gasel sælger vi grøn strøm fra danske vind...,gasel.,Variabel,True,False,flex,...,160.32,160.32,160.32,160.32,160.32,160.32,160.32,160.32,160.32,160.32

In [44]:
p = inflect.engine()
hour_columns = ['amountHours{}'.format(p.number_to_words(i)) for i in range(1, 25)]
hour_columns

['amountHours1',
 'amountHours2',
 'amountHours3',
 'amountHours4',
 'amountHours5',
 'amountHours6',
 'amountHours7',
 'amountHours8',
 'amountHours9',
 'amountHours10',
 'amountHours11',
 'amountHours12',
 'amountHours13',
 'amountHours14',
 'amountHours15',
 'amountHours16',
 'amountHours17',
 'amountHours18',
 'amountHours19',
 'amountHours20',
 'amountHours21',
 'amountHours22',
 'amountHours23',
 'amountHours24']

In [ ]:
# drop 
keep_these = ['id', 'supplierName', 'productType','billingType','indication','fees','otherFees','subscription','amountHoursOne',]  # list the variable names you need
df_s = df_s.loc[:, keep_these]

2) Clean datasets

In [142]:
# Gender gap dataset
# Drop collumns that we do not need
drop_these = ['COUNTRY','SEX','Sex','Series','TIME','Unit','Unit Code','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags']
df_gg.drop(drop_these, axis=1, inplace=True)

#Rename columns
df_gg = df_gg.rename(columns = {"SERIES" : "Type", "Value": "Gender gap", "Time": "Year"})

In [143]:
#Keep only the gender gap at the median 
I = df_gg.Type.str.contains('GWG5')
df_gg = df_gg.loc[I==True] 

# Reset old index
df_gg.reset_index(inplace = True, drop = True) # Drop old index too
df_gg.drop('Type', axis=1, inplace=True)

# Sort
df_gg = df_gg.sort_values(['Country','Year'])

# Reset old index
df_gg.reset_index(inplace = True, drop = True) # Drop old index too

In [144]:
# Parental leave dataset 
drop_these = ['COU','Indicator','SEX','Sex','AGE','Age Group','TIME','Unit','Unit Code','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags']
df_pl.drop(drop_these, axis=1, inplace=True)

#Rename columns
df_pl = df_pl.rename(columns = {"IND" : "Type", "Value": "Father_leave", "Time": "Year"})

In [145]:
#Keep only the gender gap at the median 
I = df_pl.Type.str.contains('EMP18_PAT')
df_pl = df_pl.loc[I==True] 

# Reset old index
df_pl.reset_index(inplace = True, drop = True) # Drop old index too
df_pl.drop('Type', axis=1, inplace=True)

# Sort
df_pl = df_pl_f.sort_values(['Country','Year'])

# Reset old index
df_pl.reset_index(inplace = True, drop = True) # Drop old index too

In [146]:
# Child benefits dataset
drop_these = ['COU','Indicator','SEX','Sex','YEAR','Unit','Unit Code','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags']
df_f.drop(drop_these, axis=1, inplace=True)

In [147]:
I = df_f.IND.str.contains('FAM13')
df_f_fam13 = df_f.loc[I==True] 
df_f_fam13 = df_f_fam13.rename(columns = {"IND" : "Type", "Value": "Formal_child_care"})
df_f_fam13.reset_index(inplace = True, drop = True) # Drop old index too

In [148]:
#Keep FAM13
I = df_f.IND.str.contains('FAM13')
df_f_fam13 = df_f.loc[I==True] 
df_f_fam13 = df_f_fam13.rename(columns = {"IND" : "Type", "Value": "Formal_child_care"})

# Reset old index
df_f_fam13.reset_index(inplace = True, drop = True) # Drop old index too
df_f_fam13.drop("Type", axis=1, inplace=True)

# Sort
df_f_fam13 = df_f.sort_values(['Country','Year'])

# Reset old index
df_f_fam13.reset_index(inplace = True, drop = True) # Drop old index too

In [149]:
#Keep FAM13
I = df_f.IND.str.contains('FAM11B')
df_f_famB = df_f.loc[I==True] 
df_f_famB = df_f_famB.rename(columns = {"IND" : "Type", "Value": "Cash_Benefits"})

# Reset old index
df_f_famB.reset_index(inplace = True, drop = True) # Drop old index too
df_f_famB.drop('Type', axis=1, inplace=True)

# Sort
df_f_famB = df_f.sort_values(['Country','Year'])

# Reset old index
df_f_famB.reset_index(inplace = True, drop = True) # Drop old index too

3) Merge datasets

Import your data, either through an API or manually, and load it.

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.