# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

Imports and set magics:

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
#from matplotlib_venn import venn2

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

from io import StringIO

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
import re

# Code struture

1) Load data sets
2) Clean data sets
3) Merge data sets
4) Make plots

1) Load datasets

In [49]:
df = pd.read_excel('july2022(1).xlsx') # load dataset

In [50]:
df_s = df.sort_values(['supplierName','id','indication']) # sort 
df_s.reset_index(inplace = True, drop = True) # Drop old index

In [51]:
# drop 
keep_these = ['id', 'supplierName', 'productType','billingType','indication','fees','otherFees','subscription','Mean',]  # list the variable names you need
df_s = df_s.loc[:, keep_these]
df_s.head()

,id,supplierName,productType,billingType,indication,fees,otherFees,subscription,Mean
0,5108,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67
1,5108,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67
2,5108,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67
3,5108,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67
4,5108,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67

In [53]:
mean_by_category = df.groupby('supplierName')['Mean'].mean()
print(mean_by_category)
len(mean_by_category)

supplierName
AURA El-handel                                                            94.462785
Andel Energi A/S                                                         186.607671
Barry                                                                      0.000000
Blue Energy A/S                                                          146.565946
Bornholms Energi A/S                                                      97.000000
Clever A/S                                                                 0.000000
Den Glade Eltavle ApS                                                    166.500000
EWII Energi                                                               87.198716
Elektron                                                                 142.942282
Energi Fyn Handel A/S                                                    164.678138
Energi Viborg                                                            176.680000
Energidrift A/S                                                           83.557143
Energinord A/S                                                            21.574231
Eniig Energi A/S                                                           5.310000
FFV Energi A/S                                                            21.200000
Fauna Energi A/S                                                          16.000000
Forskel                                                                   10.000000
Forsyning Helsingør Kronborg Elhandel A/S                                  5.010000
Frederikshavn Elhandel A/S                                                63.495000
GNP Energy                                                               127.000000
GoStrøm                                                                   15.000000
Grow Energy A/S                                                            8.714286
Hudya                                                                      5.200000
Jysk Energi A/S                                                          170.039135
Kärnfull Energi ApS                                                        3.040000
Lokal Energi ApS                                                           3.000000
Looad Aps                                                                  5.000000
Modstrøm Danmark A/S                                                      48.400000
NRGi Elhandel A/S - 7011 4500                                            148.123243
Natur-Energi A/S                                                         136.508432
Nef Strøm A/S                                                              6.146667
NettoPower ApS                                                           130.247297
Norlys Energi A/S                                                         59.405593
OK amba                                                                  173.271622
Power4U ApS                                                               50.000000
SEAS-NVE Strømmen A/S                                                     41.267500
SEF Energi A/S                                                           157.520162
SK Energi A/S, Nordvej 6, 4200 Slagelse, tlf. 58362500, cvr: 25133374    109.600000
Samstrøm A/S                                                               2.500000
Struer Energi - Struer Energi Handel A/S                                 135.300000
Velkommen A/S                                                             59.134270
Verdo Go Green A/S                                                       113.628548
Vestforsyning Service A/S                                                  4.500000
Vesthimmerlands El-Forsyning A/S                                          69.111429
Vindstød A/S                                                              53.533333
gasel.                                                                   160.151622
goenergi a|s                                                               5.050000
Ø/strøm                                                                  148.538333
Ørsted Erhverv                                                           185.017297
Østkraft Forsyning A/S                                                    19.230000
Name: Mean, dtype: float64

50

In [29]:
df_unique = df_s.drop_duplicates(['supplierName', 'id', 'productType', 'indication'])
df_unique.reset_index(inplace = True, drop = True) # Drop old index 
df_unique.head(10)

,id,supplierName,productType,billingType,indication,fees,otherFees,subscription,Mean
0,5108,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67
1,5108,AURA El-handel,Fast,flex,1,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,178.92
2,5109,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,178.99
3,5109,AURA El-handel,Fast,flex,1,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,180.24
4,5307,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67
5,5307,AURA El-handel,Fast,flex,1,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,178.92
6,5308,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,178.99
7,5308,AURA El-handel,Fast,flex,1,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,180.24
8,6103,AURA El-handel,Fast,flex,0,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,178.99
9,6103,AURA El-handel,Fast,flex,1,NaN,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,180.24

In [30]:
df_unique.fillna({'fees': 0}, inplace=True)
df_unique.head()

/var/folders/fj/trr23jhx25j8_78nf00613400000gn/T/ipykernel_1201/2720863114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique.fillna({'fees': 0}, inplace=True)

,id,supplierName,productType,billingType,indication,fees,otherFees,subscription,Mean
0,5108,AURA El-handel,Fast,flex,0,0,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67
1,5108,AURA El-handel,Fast,flex,1,0,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,178.92
2,5109,AURA El-handel,Fast,flex,0,0,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,178.99
3,5109,AURA El-handel,Fast,flex,1,0,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,180.24
4,5307,AURA El-handel,Fast,flex,0,0,"Kr. 39,- pr. indbetalingskort (dog ikke på før...",16.67,177.67

In [41]:
df_unique['otherFees'] = df_unique['otherFees'].str.extract(r'(\d+)')
df_unique.fillna({'otherFees': 0}, inplace=True)

/var/folders/fj/trr23jhx25j8_78nf00613400000gn/T/ipykernel_1201/3608028136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['otherFees'] = df_unique['otherFees'].str.extract(r'(\d+)')
/var/folders/fj/trr23jhx25j8_78nf00613400000gn/T/ipykernel_1201/3608028136.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique.fillna({'otherFees': 0}, inplace=True)

,id,supplierName,productType,billingType,indication,fees,otherFees,subscription,Mean
0,5108,AURA El-handel,Fast,flex,0,0,39,16.67,177.67
1,5108,AURA El-handel,Fast,flex,1,0,39,16.67,178.92
2,5109,AURA El-handel,Fast,flex,0,0,39,16.67,178.99
3,5109,AURA El-handel,Fast,flex,1,0,39,16.67,180.24
4,5307,AURA El-handel,Fast,flex,0,0,39,16.67,177.67

In [48]:
df_unique

,id,supplierName,productType,billingType,indication,fees,otherFees,subscription,Mean
0,5108,AURA El-handel,Fast,flex,0,0,39,16.67,177.67
1,5108,AURA El-handel,Fast,flex,1,0,39,16.67,178.92
2,5109,AURA El-handel,Fast,flex,0,0,39,16.67,178.99
3,5109,AURA El-handel,Fast,flex,1,0,39,16.67,180.24
4,5307,AURA El-handel,Fast,flex,0,0,39,16.67,177.67
...,...,...,...,...,...,...,...,...,...
229,5330,Ø/strøm,Variabel,flex,0,"5,82 kr. faktiske omkostninger,120,00 kr. abon...",25,0.00,167.52
230,7860,Ø/strøm,Fast,flex,0,"5,82 kr. Faktiske omkostninger,120,00 kr. Abon...",25,10.00,10.00
231,7861,Ø/strøm,Variabel,flex,1,"5,82 kr. faktiske omkostninger,120,00 kr. abon...",25,10.00,167.52
232,5145,Ørsted Erhverv,Variabel,flex,0,"5,00 kr. Pr. betaling via Betalingsservice",20,20.00,184.76
233,5084,Østkraft Forsyning A/S,Variabel,fix,0,0,25,10.00,19.23

2) Clean datasets

In [142]:
# Gender gap dataset
# Drop collumns that we do not need
drop_these = ['COUNTRY','SEX','Sex','Series','TIME','Unit','Unit Code','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags']
df_gg.drop(drop_these, axis=1, inplace=True)

#Rename columns
df_gg = df_gg.rename(columns = {"SERIES" : "Type", "Value": "Gender gap", "Time": "Year"})

In [143]:
#Keep only the gender gap at the median 
I = df_gg.Type.str.contains('GWG5')
df_gg = df_gg.loc[I==True] 

# Reset old index
df_gg.reset_index(inplace = True, drop = True) # Drop old index too
df_gg.drop('Type', axis=1, inplace=True)

# Sort
df_gg = df_gg.sort_values(['Country','Year'])

# Reset old index
df_gg.reset_index(inplace = True, drop = True) # Drop old index too

In [144]:
# Parental leave dataset 
drop_these = ['COU','Indicator','SEX','Sex','AGE','Age Group','TIME','Unit','Unit Code','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags']
df_pl.drop(drop_these, axis=1, inplace=True)

#Rename columns
df_pl = df_pl.rename(columns = {"IND" : "Type", "Value": "Father_leave", "Time": "Year"})

In [145]:
#Keep only the gender gap at the median 
I = df_pl.Type.str.contains('EMP18_PAT')
df_pl = df_pl.loc[I==True] 

# Reset old index
df_pl.reset_index(inplace = True, drop = True) # Drop old index too
df_pl.drop('Type', axis=1, inplace=True)

# Sort
df_pl = df_pl_f.sort_values(['Country','Year'])

# Reset old index
df_pl.reset_index(inplace = True, drop = True) # Drop old index too

In [146]:
# Child benefits dataset
drop_these = ['COU','Indicator','SEX','Sex','YEAR','Unit','Unit Code','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags']
df_f.drop(drop_these, axis=1, inplace=True)

In [147]:
I = df_f.IND.str.contains('FAM13')
df_f_fam13 = df_f.loc[I==True] 
df_f_fam13 = df_f_fam13.rename(columns = {"IND" : "Type", "Value": "Formal_child_care"})
df_f_fam13.reset_index(inplace = True, drop = True) # Drop old index too

In [148]:
#Keep FAM13
I = df_f.IND.str.contains('FAM13')
df_f_fam13 = df_f.loc[I==True] 
df_f_fam13 = df_f_fam13.rename(columns = {"IND" : "Type", "Value": "Formal_child_care"})

# Reset old index
df_f_fam13.reset_index(inplace = True, drop = True) # Drop old index too
df_f_fam13.drop("Type", axis=1, inplace=True)

# Sort
df_f_fam13 = df_f.sort_values(['Country','Year'])

# Reset old index
df_f_fam13.reset_index(inplace = True, drop = True) # Drop old index too

In [149]:
#Keep FAM13
I = df_f.IND.str.contains('FAM11B')
df_f_famB = df_f.loc[I==True] 
df_f_famB = df_f_famB.rename(columns = {"IND" : "Type", "Value": "Cash_Benefits"})

# Reset old index
df_f_famB.reset_index(inplace = True, drop = True) # Drop old index too
df_f_famB.drop('Type', axis=1, inplace=True)

# Sort
df_f_famB = df_f.sort_values(['Country','Year'])

# Reset old index
df_f_famB.reset_index(inplace = True, drop = True) # Drop old index too

3) Merge datasets

Import your data, either through an API or manually, and load it.

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.